

<div class="content-wrapper" >
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Asset
      <small>crate</small>
    </h1>
    <ol class="breadcrumb">
      <li>
        <a href="#">
          <i class="fa fa-cogs"></i> Transactions</a>
      </li>
      <li class="active">New crate</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content" >

      <div class="box" >
          <div class="box-header">
            <h3 class="box-title">New crate</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
              <div class="container">
                  <div class="row">
              <form>
                <div class="form-group">
                  <label for="exampleInputEmail1">Crate ID</label>
                  <input [(ngModel)]="crateID" name="crateId" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Crate ID">
                  <small id="emailHelp" class="form-text text-muted">Must start with 'C1-'</small>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Name</label>
                  <input [(ngModel)]="name" name="CommodityName" type="text" class="form-control" id="exampleInputPassword1" placeholder="Name">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Description</label>
                  <input [(ngModel)]="description"  row="5" name="CommodityName" type="text" class="form-control" id="exampleInputPassword1" placeholder="Description">
                </div>
   
          </form>
          <button type="submit" class="btn btn-primary" style="float: right" (click)="makeCrate()">Submit</button>
        </div>
      </div>

        
         
        </div>
          <!-- /.box-body -->
        </div>



  </section>
  <!-- /.content -->
</div>

<div class="loading-indicator" *ngIf="loading">
 <p-progressSpinner></p-progressSpinner>
 </div>