<header class="main-header">
  <!-- Logo -->
  <a href="index2.html" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>T</b>F  </span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>Trace</b>-Food</span>
  </a>
  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>

    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <!-- Messages: style can be found in dropdown.less-->
      
        <!-- Notifications: style can be found in dropdown.less -->
        <li class="dropdown notifications-menu">
       
      
        <!-- Tasks: style can be found in dropdown.less -->
        <li class="dropdown tasks-menu">
          
        </li>
        <!-- User Account: style can be found in dropdown.less -->
        <li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="{{imageLink}}" class="user-image" alt="User Image">
              <span class="hidden-xs">{{name}}</span>
            </a>
          <ul class="dropdown-menu">
            <!-- User image -->
            <li class="user-header">
              <img src="{{imageLink}}" class="img-circle" alt="User Image">

              <p>
                {{name}}
                <small>{{email}}</small>
              </p>
            </li>
            <!-- Menu Footer-->
            <li class="user-footer">
              <div class="pull-right">
                <a href="#" class="btn btn-default btn-flat">Sign out</a>
              </div>
            </li>
          </ul>
        </li>
 
      </ul>
    </div>
  </nav>
</header>
