.loading-indicator {
    position: absolute;
      height: 100%;
      width: 100%;
      top: 50%;
      left: 50%;
      margin-left: -50px;
      margin-top: -50px;
    }
    
    /* Transparent Overlay */
    .loading-indicator:before {
    vertical-align: 50%;
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.53);
    }