<div class="loginWrapper">
  <div class="logincard bg-white">
     <div class="row">
        <div class="col-lg-6 col-12">
           <div class="leftbox">
              <div class="circle"></div>
              <div class="leftboxContent">
                 <img src="http://www.clker.com/cliparts/6/4/3/d/1197099982421975713johnny_automatic_bushel_tomato_crate.svg.med.png" class="bgimg" alt="flower image">
                 <h4>
                    <img src="http://www.clker.com/cliparts/6/4/3/d/1197099982421975713johnny_automatic_bushel_tomato_crate.svg.med.png" class="img-fluid" alt="flower image">
                    Trace-Food
                 </h4>
                 <h3 style="color:aliceblue">First you need to login with your google + account.</h3>
              </div>
            </div>
        </div>
        <div class="col-lg-6 col-12">
           <div class="rightbox text-center">

              <img src="https://i.ibb.co/n7cQs3B/profile.jpg" class="rounded-circle" alt="profile image">
              <p>Press on the button below to get started !</p>
              <button id="googleLogin" type="button" class="btn btn-google"> <i class="fa fa-google-plus" style="margin-right: 1%"></i> Login with google +</button>


           </div>
        </div>
     </div>
  </div>


</div>